.dbBg{
    background-image: url("../images/db_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0%;
    top: 0%;
    z-index: -1;
}
.adminbackgroundblur{
    position: absolute;
    /* display: none; */
    top:0%;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: 4;
    backdrop-filter: blur(8px);
    }
    .adminLoginWarrinig{
    position: fixed;
    /* display: none; */
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 70%;
    background-color: black;
    z-index: 5;
    border-radius: 7px;
    opacity: 0.8;
    }
.adminLoginPanel{
    width: 100%;
    left: 50%;
    transform: translate(-50%);
    position: fixed;
    top: 10%;
}
.dbBtn{
    color: black;
    margin: 10px;
    font-size: 17px;
    padding: 10px;
    border: 0;
    border-radius: 7px;
    background-color: #eae54d;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}
.selectUser{
    margin: 5px;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
}
.dbBtn:hover{
    background-color: #8a872e;
    box-shadow: 0px 0px 12px 0.8px rgb(212, 234, 236);
}

#warrn{
    font-size: 25px;
    width: 100%;
    left: 50%;
    transform: translate(-50%);
    position: fixed;
    top: 75%;
    color: tomato;
}
#closeAdminPanelBtn{
    position: fixed;
    right: 1%;
    top: -6%;
}
.btnSection{
    width: 100%;
    left: 50%;
    transform: translate(-50%);
    position: fixed;
   
}
